#mobileTopicTitle .topic-container {
	display: flex;
	width: 100%;
	align-items: left;
}

#mobileTopicTitle .topic-container {
	display: flex;
	flex-direction: column;
	height: 100%; /* or set a fixed height like 50px if needed */
}

.topic-container .topic-label {
	flex: 0 0 70%;
	display: flex;
	align-items: left;
	font-size: 1rem;
	overflow: hidden;
}

.topic-container .topic-tag {
	flex: 0 0 30%;
	display: flex;
	align-items: left;
	font-size: 0.65rem;
	overflow: hidden;
}


@media (min-width: 992px) {
    div:has(> div > [component="post/header"]) {
        position: sticky;
        top: 0rem;
        background-color: white;
        z-index: 3;
        padding: 0.4rem 0;
    }

    .fs-3 {
        font-size: calc(1.1rem + .6vw) !important;
    }

    .d-flex.gap-2.flex-wrap.flex-lg-nowrap {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important
    }

    .d-flex.flex-column.gap-3.flex-grow-1 {
        gap: 0.5rem!important
    }
}

.sticky-top[style="top:2rem; z-index:1;"] {
    top: 8.3rem !important;
}

